@import '~../custom.scss';

// 修改變數專用
//服務
.Service {
  * {
    font-family: 'Roboto', 'Noto Sans TC', sans-serif;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
  }
  .required::before {
    content: '*';
    color: $danger;
    display: inline-block;
    margin-right: 5px;
  }

  figure {
    margin: 0;
  }

  .card-light {
    background: $light;
    border: 1px solid transparent;
    border-radius: 0;
  }

  .card-shadow {
    background: #ffffff;
    border: 1px solid transparent;
    border-radius: 0;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.175);
  }

  //google-map
  .google-map {
    -webkit-position: sticky;
    position: sticky;
    top: 80px;
    height: 100vh;
    width: 100%;
    z-index: 999;
  }
  .google-map-maker {
    font-size: 1rem;
    transform: translate(-50%, -100%);
    position: relative;
    color: $info;
  }
  .google-map-maker.active {
    transform: scale(1.1) translate(-50%, -100%);
    transition: 0.5s;
  }
  .google-map-maker > .icon {
    font-size: 2rem;
  }
  .google-map-maker > .text {
    font-size: 0.9rem;
    position: absolute;
    display: block;
    transform: translate(-20%, -220%);
    text-align: center;
    background: #ffffff;
    word-break: keep-all;
    border-radius: 0.5rem;
    padding: 0.5rem;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  }
  .google-map-maker > .text::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 20px 10px 0 10px;
    border-color: #ffffff transparent transparent transparent;
  }
  .google-map-maker.my {
    color: $danger;
  }
  .fadeOut {
    opacity: 0%;
    transition: 3s;
  }
  .inline-block-icon {
    display: inline-block;
  }
  .inline-block-icon img {
    width: 16px;
  }
  .inline-block-icon .icon-text {
    word-break: keep-all;
    margin-left: 5px;
    font-size: 0.9rem;
  }
  .avatar {
    overflow: hidden;
  }
  .avatar img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: 0.5s;
  }
  // ul,li
  ul,
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  ul.user-data li {
    margin-bottom: 0.5rem;
  }
  ul.user-data li:last-child {
    margin-bottom: 0;
  }
  ul.user-data li .inline-block-icon {
    position: absolute;
    transform: translateY(-2px);
  }
  //按鈕滑入效果
  button.btn:hover svg,
  a.btn:hover svg {
    animation: icon-bounce 0.5s 1 forwards;
    transition: 0.5s;
  }
  @keyframes icon-bounce {
    0% {
      transform: scale(1);
    }
    70% {
      transform: scale(1.4);
    }
    100% {
      transform: scale(1.2);
    }
  }
  // icon
  .mdStar {
    color: $primary;
  }
  .mdStarBorder {
    color: #cccccc;
  }
  hr.title {
    margin: 0rem auto 1rem 0;
    width: 80px;
    border-color: #b6b6b6;
  }
  //react-datepicker
  .react-datepicker-popper {
    z-index: 1030;
    .react-datepicker {
      // min-width: 328px;
      display: flex;
    }
  }
  .react-datepicker-wrapper {
    width: 100%;
  }
  .react-datepicker__day--selected,
  .react-datepicker__day--in-selecting-range,
  .react-datepicker__day--in-range,
  .react-datepicker__month-text--selected,
  .react-datepicker__month-text--in-selecting-range,
  .react-datepicker__month-text--in-range,
  .react-datepicker__quarter-text--selected,
  .react-datepicker__quarter-text--in-selecting-range,
  .react-datepicker__quarter-text--in-range,
  .react-datepicker__time-container
    .react-datepicker__time
    .react-datepicker__time-box
    ul.react-datepicker__time-list
    li.react-datepicker__time-list-item--selected,
  .react-datepicker__day--selected:hover,
  .react-datepicker__day--in-selecting-range:hover,
  .react-datepicker__day--in-range:hover,
  .react-datepicker__month-text--selected:hover,
  .react-datepicker__month-text--in-selecting-range:hover,
  .react-datepicker__month-text--in-range:hover,
  .react-datepicker__quarter-text--selected:hover,
  .react-datepicker__quarter-text--in-selecting-range:hover,
  .react-datepicker__quarter-text--in-range:hover,
  .react-datepicker__time-container
    .react-datepicker__time
    .react-datepicker__time-box
    ul.react-datepicker__time-list
    li.react-datepicker__time-list-item--selected:hover {
    background-color: $primary;
  }
  .react-datepicker-time__header {
    // height: 0;
    height: 22px;
  }
  .react-datepicker-time__header::before {
    content: '時間';
    display: block;
  }
  //message
  .message-chat-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    .member-name {
      margin: 0;
    }
    .card-body {
      padding: 0;
      .dialog {
        padding: 1rem;
        overflow-x: hidden;
        height: 300px;
        display: flex;
        flex-direction: column;
        .dialog-date {
          text-align: center;
          margin-bottom: 1rem;
        }
        .dialog-text {
          padding: 0.5rem;
          border-radius: 0.3rem;
          align-self: flex-start;
          background: $secondary;
          color: #ffffff;
          margin-bottom: 0.5rem;
          max-width: 80%;
        }
        .dialog-text.reverse {
          align-self: flex-end;
          background: $info;
        }
      }
    }
  }
  .gobackLink {
    font-size: 2rem;
    color: $secondary;
    padding: 1rem;
    display: flex;
    max-width: 120px;
    align-items: center;
    span.linkTxt {
      font-size: 1rem;
    }
    &:hover {
      transform: translateX(-5px);
      color: $dark;
    }
  }
  //上傳圖片
  .files input {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset 0.15s ease-in-out,
      background-color 0.15s linear;
    transition: outline-offset 0.15s ease-in-out, background-color 0.15s linear;
    padding: 120px 0px 85px 35%;
    text-align: center !important;
    margin: 0;
    width: 100% !important;
  }
  .files input:focus {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset 0.15s ease-in-out,
      background-color 0.15s linear;
    transition: outline-offset 0.15s ease-in-out, background-color 0.15s linear;
    border: 1px solid #92b0b3;
  }
  .files {
    position: relative;
  }
  .files:after {
    pointer-events: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 50px;
    right: 0;
    height: 56px;
    content: '';
    background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .color input {
    background-color: #f1f1f1;
  }
  .files:before {
    position: absolute;
    bottom: 10px;
    left: 0;
    pointer-events: none;
    width: 100%;
    right: 0;
    height: 40px;
    content: ' 將檔案拖曳至此處 ';
    display: block;
    margin: 0 auto;
    color: $secondary;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
  }
  .multiple.files:before {
    content: ' 將檔案拖曳至此處(上限10張) ';
  }
  //即時預覽
  .avatar-preview {
    figure {
      max-width: 150px;
      // max-height: 150px;
      display: flex;
      // overflow: hidden;
    }
    figure img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: scale(1.05);
    }
  }
  .album-preview {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    figure {
      flex: 0 0 49%;
      overflow: hidden;
      margin-bottom: 10px;
      position: relative;
    }
    figure img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  //條款
  .ServiceTerms {
    section.banner {
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(../../images/service/pic/banner2.png) center bottom no-repeat;
      background-size: 80%;
      height: 400px;
      color: #ffffff;
    }
    @media (min-width: 768px) {
      section.banner {
        height: 500px;
      }
    }
  }
  //首頁
  .ServiceHome {
    section {
      padding-top: 3rem;
      padding-bottom: 3rem;
      &.banner {
        background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
          url(../../images/service/pic/banner.jpg) center bottom;
        background-size: cover;
        height: 400px;
      }
      @media (min-width: 768px) {
        &.banner {
          height: 500px;
        }
      }
      &.process {
        .stepwizard-step p {
          margin-top: 10px;
        }
        .stepwizard-row {
          display: table-row;
        }
        .stepwizard {
          display: table;
          width: 100%;
          position: relative;
        }
        .stepwizard-step button[disabled] {
          opacity: 1 !important;
          filter: alpha(opacity=100) !important;
        }
        .stepwizard-row:before {
          top: 14px;
          bottom: 0;
          position: absolute;
          content: ' ';
          width: 100%;
          height: 1px;
          background-color: rgba(255, 255, 255, 0.6);
          z-index: 0;
        }
        .stepwizard-step {
          display: table-cell;
          text-align: center;
          position: relative;
        }
        .btn-circle {
          width: 30px;
          height: 30px;
          text-align: center;
          padding: 6px 0;
          font-size: 12px;
          line-height: 1.428571429;
          border-radius: 15px;
        }
        img {
          width: 100%;
          max-width: 80px;
          margin-bottom: 1.5rem;
        }
      }
      &.story {
        .row.reverse {
          .col {
            padding: 100px;
          }
        }
      }
      &.promise {
        img {
          width: 100%;
          max-width: 70px;
          margin-bottom: 1.5rem;
        }
      }
      &.apply {
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
          url(../../images/service/pic/apply.jpg) center center;
        background-size: cover;
        height: 400px;
      }
      @media (min-width: 768px) {
        &.apply {
          height: 500px;
        }
      }
    }
  }
  // 保姆列表
  .ServiceQuery {
    a .card-list {
      color: $body-color;
    }
    a .card-list .avatar img {
      transform: scale(1.02);
    }
    a:hover .card-list .avatar img {
      transform: scale(1.1);
    }
    .avatar {
      width: 100px;
      height: 100px;
      flex: 0 0 100px;
    }
    .col-list .sUser .card {
      transition: 0.5s;
    }
    .col-list .sUser.active .card {
      transform: translateX(-10px);
      transition: 0.5s;
      box-shadow: 5px 2px 8px rgba(0, 0, 0, 0.3);
    }
    @media (min-width: 768px) {
      .search-col select {
        width: auto;
      }
      .search-col hr.title {
        margin: 0rem auto 1rem 0;
        width: 80px;
      }
      .avatar {
        width: 140px;
        height: 140px;
        flex: 0 0 140px;
      }
    }
  }
  //保姆內頁
  .ServiceDetail {
    .avatar {
      width: 160px;
      height: 160px;
    }
    .user-info {
      line-height: 1.6rem;
      text-indent: 2rem;
    }
    ul.comment li {
      border-bottom: 1px solid #cccccc;
    }
    ul.comment li:last-child {
      border-bottom: 1px solid transparent;
    }
    ul.comment .avatar {
      width: 80px;
      height: 80px;
    }
    ul.comment .avatar img {
      transform: scale(1.02);
    }
    @media (min-width: 768px) {
      ul.comment .avatar {
        width: 100px;
        height: 100px;
      }
    }
    .dog-size .col {
      padding: 0.5rem;
    }
    .dog-size .icon {
      height: 50px;
      display: flex;
    }
    .dog-size .icon img {
      margin: auto auto 0;
      width: 100%;
      height: 100%;
    }
    .muted {
      opacity: 0.5;
    }
    .dog-size .dog-size-xs .icon img {
      width: 50%;
      height: 50%;
    }
    .dog-size .dog-size-s .icon img {
      width: 60%;
      height: 60%;
    }
    .dog-size .dog-size-m .icon img {
      width: 80%;
      height: 80%;
    }
    .carousel-status {
      opacity: 0.8;
    }
    .carousel .thumb {
      border: 3px solid transparent;
    }
    .carousel .thumb.selected,
    .carousel .thumb:hover {
      border: 3px solid $primary;
    }
    .carousel .slider-wrapper.axis-horizontal .slider .slide > div {
      height: 100%;
    }
    .carousel .slider-wrapper.axis-horizontal .slider .slide > div img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .ServiceApply {
    .serviceTypeCheckbox {
      max-width: 160px;
    }
    .servicePriceInput {
      max-width: 190px;
    }
    .inline-block-memberDefaultData {
      display: inline-block;
    }
    .inline-block-memberDefaultData {
      .custom-control-label::before,
      .custom-control-label::after {
        transform: translateY(-2px);
      }
    }
  }
  //評價
  @import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
  .ServiceComment {
    h1[alt='Simple'] {
      color: white;
    }
    a[href]:not(.gobackLink),
    a[href]:hover:not(.gobackLink) {
      color: grey;
      font-size: 0.5em;
      text-decoration: none;
    }
    .starrating {
      position: relative;
    }
    .starrating > input {
      display: none;
    }
    /* Remove radio buttons */
    .starrating > label:before {
      content: '\f005'; /* Star */
      margin: 0.2rem;
      font-size: 1.5em;
      font-family: FontAwesome;
      display: inline-block;
      cursor: pointer;
    }
    .starrating > label {
      color: $secondary; /* Start color when not clicked */
      margin-bottom: 0;
    }
    .starrating > input:checked ~ label {
      color: $primary;
    }
    /* Set yellow color when star checked */
    .starrating > input:hover ~ label {
      color: $primary;
    }
    /* Set yellow color when star hover */
    .starrating > .rating-title {
      margin-left: 1rem;
    }
    .starrating > .invalid-feedback {
      position: absolute;
      left: 150px;
      bottom: 10px;
    }
  }

  //-----管理後臺-----
  &.ServiceAdmin {
    .service-detail-table > tbody > tr > td.title {
      min-width: 140px;
      text-align: right;
      font-weight: bold;
    }
    ul.sidebar-list {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-bottom: 0.5rem;
    }
    ul.sidebar-list > li a {
      color: $body-color;
      padding: 0.4rem 1rem;
      display: inline-block;
    }
    ul.sidebar-list > li a.active {
      color: $primary;
      border-bottom: 1px solid $primary;
    }
    ul.sidebar-list > li a:hover {
      color: $primary;
    }
    @media (min-width: 768px) {
      ul.sidebar-list {
        flex-direction: column;
        margin-bottom: 0;
      }
      ul.sidebar-list > li a.active {
        color: $primary;
        border-color: transparent;
      }
      ul.sidebar-list > li a:hover {
        color: $primary;
        transform: translateX(0.3rem);
      }
    }
    //首頁
    .ServiceAdminHome {
      .chart {
      }
    }
    //訂單
    .ServiceAdminOrder {
      .table th,
      .table td {
        vertical-align: middle;
      }
      .order-cancel {
        color: #adb5bd;
      }
    }
    //訊息
    .ServiceAdminMessage {
      .message {
        width: calc(100% - 70px);
        .message-content {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }
    }
    //訊息內頁
    .ServiceAdminMessageDetail {
    }
  }
}
